.layout {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  height: calc(100% - var(--header-height));
}

.main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

@media (max-width: 768px) {
  .layout {
    grid-template-columns: 1fr;
  }
}
